#wrapper {
	width: 960px;
	margin: auto;
}

#container{
	text-align: center;
	background-color: black;
	width: 280px;
	margin: auto;
}

a:link{
	color: white;
}
a:visited{
	color: white;
}
a:hover{
	color: red;
}

body {
	background-color: black;
	color: white;
	background-image: url(images/stars.jpeg);
	background-size: cover;
}

h1 {
	font-family: 'Play', Helvetica, sans-serif;
	text-align: center;
	font-size: 2.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: black;
}

th{
	font-size: 1.8em;
}

th,td {
	font-family:  'Titillium Web', Helvetica, sans-serif;
	text-align: center;
	border: 1px solid white;
	height: 40px;
}
th.rotate {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
    overflow : visible;
}

span{
	width: 100%;
	display: block;
}