h1 {
	font-family: font-family: 'Play', Helvetica, sans-serif;
	text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;


}

th,td {
	font-family:  'Titillium Web', Helvetica, sans-serif;
	text-align: center;
	border: 1px solid black;
	height: 30px;
}